<h1>Hobbies</h1>
<ul>
    <li>I like to play league fo legend</li>
    <li>I like running</li>
</ul>
<img src="http://orig03.deviantart.net/2f76/f/2015/334/7/8/papeldeparede_by_gisalmeida-d9ijx4h.jpg">