<h1>Personal</h1>
<ul>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
    <li>I'm 18 years old</li>
</ul>
<img src="http://firstblood.pl/wp-content/uploads/2015/11/blue-buff.jpg">